<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CredentialStorage.Data.Properties.Settings.credentialsConnectionString"
            connectionString="Data Source=GT683\SQL2012EXP;Initial Catalog=credentials;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>